<img src="http://customertools-beta.bendergroup.com/images/logo.png" class="logo" />
<h1>Hello <%= user.name %></h1>
<p>This is Bender Group emailing to notify that you have requested a password reset.</p>
<p>To reset your password, please follow this link, <a href="http://customertools-beta.bendergroup.com/verify?user=<%= user.username %>&key=<%= user.login_key %>">http://customertools-beta.bendergroup.com/verify?user=<%= user.username %>&key=<%= user.login_key %></a></p>
<p>You will be prompted to set a password for your account and automatically signed in.</p>