@import (reference) "variables";
@import (reference) "mixins";

.user--list-item {
  display: block;
  padding: 10px;
  transition: all 0.3s;

  &:hover {
    padding-left: 15px;
  }
  
  .user--list-item-user__name {
    font-weight: 700;
  }
  
  .user--list-item-actions {
    position: absolute;
    top: 50%;
    right: 20px;
    
    transform: translateY(-50%);

    .user--list-item-action {
      display: inline-block;
      text-align: center;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      padding: 5px;
      
      transition: all 0.3s;
      
      &:last-of-type {
        border-right: none;
      }
      
      &:hover {
        background-color: #fff;
      }
    }
  }
  
  .user--list-item-admin-user {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    
    background-color: @background-color;
    border: 3px solid #fff;
    
    transform: translate(-50%, -50%);
  }
}