@import (reference) "variables";
@import (reference) "mixins";

.admin-nav {
  background-color: @input-color;

  .wrapper {
    max-width: 48em;
    margin: 0 auto;
    display: flex;
  }

  a {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    color: @button-color;
    flex: 1;
    text-align: center;
    transition: all 0.3s;

    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: darken(@input-color, 4);
    }
  }

  &:nth-of-type(even) {
    background-color: transparent;

    a {
      color: @button-color;

      &:hover {
        background-color: transparent;
        color: darken(@button-color, 5);
      }
    }
  }
}
