@import (reference) "variables";
@import (reference) "mixins";
@import "base";
@import "typography";
@import "navigation";
@import "admin-navigation";
@import "json_listing";
@import "flashes";
@import "notification";
@import "loader";
@import "forms";
@import "session";
@import "footer";
@import "admin-users";
@import "row-item";
@import "pagination";
@import "calendar";
@import "modal";
@import "review-item";
@import "quantity-buttons";
@import "sweetalert.css";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html, body { height: 100%; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  color: @font-color;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
