@import (reference) "variables";
@import (reference) "mixins";

.date-picker {
  // display: flex;
  // flex-flow: column;
  // flex: 1 0 auto;

  padding: 5px;

  .dp-header {
    .dp-nav-table {
      font-size: 1.4rem;
    }
  }

  .dp-body {
    // display: flex;
    // flex-flow: column;
    // flex: 1 0 auto;
  }

  .dp-footer {
    flex-flow: row;
    display: flex;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      cursor: pointer;
    }
  }

  .dp-table {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-flow: column;
    // flex: 1;
  }

  .dp-week-day-names {
    background-color: @button-color;
    color: white;
  }

  .dp-week {
    .dp-day {
      transition: all 0.3s;

      &:hover {
        background-color: #fdfdfd;
      }
    }

    &:nth-of-type(even) {
      background-color: fade(@button-color, 20%);
    }
  }

  .dp-row {
    display: flex;
    flex-flow: row;
    flex: 1;
    .dp-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 10px 0;
      text-align: center;

      cursor: pointer;
    }
  }

  .dp-current {
    background-color: fade(@button-color, 50%);
    color: white;
  }

  .dp-value {
    background-color: @button-color;
    color: white;

    &:hover {
      background-color: @button-color;
      color: white;
    }
  }

  .dp-prev, .dp-next {
    opacity: 0.8;
  }

  .dp-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
