@import (reference) "variables";

.flash {
  padding: 1rem 1.5rem;
  margin: 3rem;
}

.flash--notice {
  background-color: @success-color;
  color: white;
}

.flash--error {
  background-color: @error-color;
  color: white;
}

.notice-bar {
  width: 100%;
  padding: 5px;
  color: white;
  background-color: @success-color;
  margin-bottom: 5px;

  &.error {
    background-color: @error-color;
  }
}

.zero-state {
  text-align: center;
  margin: 25px 0;
  padding: 10px;
  font-size: 2.4rem;
  color: #ccc;
  
  i {
    display: block;
  }
}
