@import (reference) "variables";
@import (reference) "mixins";

footer {
  margin-top: 50px;
  padding: 10px 0;
  min-height: 150px;
  background-color: @button-color;
  border-top: 3px solid #333;
  color: #fff;
  
  .base-inner {
    background-color: transparent;
  }
    
  p {
    font-size: 14px;
    margin: 15px 0;
    line-height: 20px;
    &.main-links {
      margin: 15px 0;
    }
  }
  
  a {
    color: #fff;
    display: inline-block;
    margin: 0 5px;  
    
    &:hover {
      color: #ddd;
    }  
  }
}