@import (reference) "variables";
@import (reference) "mixins";

form {
}

.input-group {
  overflow: hidden;
}

input, textarea, select {
  min-height: 4rem;
}

input,
select,
.input-error,
label,
textarea {
  width: calc(~"100% - 10px");
  max-width: 100%;  
  margin: 0 5px;
  display: block;
  font-size: 18px;
}

.checkbox {
  input[type='checkbox']{
    position: relative;
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-right: 1.5rem;
    vertical-align: middle;
  }
}

textarea {
  min-height: 200px;
}

.form--inline {
  display: flex;
  .input-wrap, .btn {
    flex: 1;
    display: inline-block;
    align-self: flex-end;
  }
  
  .btn {
    max-width: 20%;
    height: 41px;
    padding: 0;
  }
}

.input--half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.input--small {
  label {
    margin-top: 0px;
  }
}

.date-selectors {
  select {
    display: inline-block;
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.input__name, .input__email {
  width: 100%;
  float: none;
}


label {
  line-height: 3rem;
  margin: 2rem 5px 0.5rem 5px;
}

input, textarea, select {
  background-color: @input-color;
  border-radius: 2px;
  border: 1px solid @input-color--dark;
  padding: 1rem;
  color: @font-color;
  &:focus {
    outline: 1px solid @input-color--dark;
    box-shadow: none;
    background-color: @input-color--dark;
  }
  
  &:disabled, &.disabled {
    background-color: @input-color--dark;
  }
}

button, input[type='submit'] {
  background-color: @button-color;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  margin: 1rem 0;
  margin-top: 4rem;
  margin-bottom: 2rem;

  &.small {
    margin: 1rem 0rem;
    padding: 1rem;
    text-transform: none;
  }

  &.full {
    width: calc(~"100% - 10px");
    margin: 10px 5px;
  }

  &.default {
    background-color: @background-color;
    color: @font-color;

    &:hover {
      background-color: darken(@background-color, 10);
    }
  }
  
  &.error {
    background-color: @error-color;

    &:hover {
      background-color: darken(@error-color, 10);
    }
  }                  

  &:hover {
    background-color: darken(@button-color, 10);
  }

  &:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:hover {
      background-color: #ddd;
    }
  }

  &.error {
    background-color: @error-color;
  }
}

.input-error {
  background-color: @error-color;
  padding: 1rem;
  color: #fff;
  font-size: 14px;
}

.input-wrap {
  .loader {
    border-color: white;
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
}

formgroup {
  h2 {
    padding-bottom: 15px;
    cursor: pointer;

    i {
      float: right;
    }
  }
  .form_inputs {
    display: none;
  }

  &.active {
    h2 {
      border-bottom: 1px solid @background-color;

      i {
        display: none;
      }
    }

    .form_inputs {
      display: block;
    }
  }
}

::-webkit-input-placeholder {
  color: @gray--dark;
}
:-moz-placeholder { /* older Firefox*/
  color: @gray--dark;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @gray--dark;
}
:-ms-input-placeholder {
  color: @gray--dark;
}
