.json-listing {
  .json-heading {
    display: block;
    width: 100%;
    font-weight: bold;
    
    .json-heading__required, .json-heading__field, .json-heading__description {
      background-color: #C6D0D3;
      color: #3D5056;
      padding: 1.5rem 1rem;
      display: inline-block;   
    }
    
    .json-heading__required {
      width: 10%;   
    }
    .json-heading__field, .json-heading__description {
      width: 45%;
    }
  }
  
  .json-item {
    width: 100%;
    display: block;
    background-color: lighten(#eee,4);
    
    .json-item__required, .json-item__field, .json-item__description {
      display: inline-block;
      padding: 1.5rem 1rem;
      display: inline-block;
      vertical-align: middle;
    }
    
    .json-item__required {
      width: 10%;
      text-align: center;
    }
    
    .json-item__field, .json-item__description {
      width: 45%;
    }
    
    &:nth-of-type(odd){
      background-color: lighten(#eee,6);
    }
  }
}