@import (reference) "variables";
@import (reference) "mixins";

.loader {
  @size: 30px;
  width: @size;
  height: @size;

  display: block;

  border: 5px solid @background-color;
  border-radius: 50%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    
    width: @size;
    height: @size;

    transform: translate(-50%, -50%);

    border: 5px solid transparent;
    border-right-color: @button-color; 
    border-radius: 50%;

    animation: rotate 0.5s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}