@import (reference) "variables";
@import (reference) "mixins";

.modal {
  z-index: 9999;
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 64rem;
  max-height: 100vh;
  overflow-y: scroll;

  background-color: white;
  padding: 25px;
  border-radius: 5px;

  .modal-header {
    border-bottom: 1px solid @background-color;
  }
}

.modal-bg {
  z-index: 9999;
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}