@import (reference) "variables";
@import (reference) "mixins";

nav {
  background-color: #fff;
  // min-height: 130px;
  margin-bottom: 25px;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  z-index: 9999;
  
  .wrapper {
    max-width: 54em;
    padding: 0 3rem;
  }
  
  .right {
    text-align: center;
    float: right;
    background-color: #fff;
    margin-top: 4px;
  }
  
  a, .link {
    display: inline-block;
    line-height: 40px;
    text-align: left;
    color: @gray--dark;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #fff;
    
    img {
      max-width: calc(100% - 10px);
      max-height: 50px;
      margin: 15px 0;      
      vertical-align: middle;
    }
    
    &:not(.logo) {
      margin: 0px 10px;
      line-height: 70px;
      width: auto;
      border-radius: 3px;
      text-align: center;
    }
    
    i.fa {
      margin: 0 5px;
    }
    
    &:hover {
      text-decoration: none;
      color: @button-color;
    }
    
    &.logo {
      padding: 0;
    }
  }
  
  .drop {    
    .drop-menu {
      position: absolute;
      bottom: 0;			
      width: 175px;
      opacity: 0;
			z-index: -2;
			transition: all 0.3s;
      box-shadow: 0 0 1px rgba(0,0,0,.15);
      
      background-color: white;
      
      a {
        display: block;
        text-align: left;
        line-height: 45px;
      }
		}
    
    &.drop--right {
      .drop-menu {
        right: 0;
        left: auto;
      }  
    }
    
		&:hover {
      .drop-menu {
        opacity: 1;
				transform: translateY(100%);
			}
		}
  }
}

.sub-nav {
  display: flex;
  max-width: 48em;
  margin: 5px auto;
  width: 100%;
  
  .btn {
    flex: 1;
    margin: 0 5px;
    text-align: center;
  }
}