@import (reference) "variables";

.notification {
  display: block;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-left: 3px solid transparent;

  transition: all 0.3s;

  &:hover {
    padding-left: 2rem;
    opacity: 1;
  }
}

.notification--error {
  border-left-color: @error-color;
}

.notification--notice, .notification--success {
  border-left-color: @success-color;
}

.notification--seen-true {
  opacity: 0.7;
  // background-color: @background-color;
}