@import (reference) "variables";
@import (reference) "mixins";

.pagination {
  a {
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border: 1px solid @background-color;
    width: auto;
    border-radius: 3px;
    i {
      margin: 0 10px;
      transition: all 0.3s;
    }

    &:hover {
      i {
        margin-left: 8px;
        margin-right: 12px;
      }
    }
  }

  .prev-wrapper, .next-wrapper {
    .span(6);
  }
  .prev-wrapper {
    text-align: right;
  }

  .next-wrapper {
    a {
      &:hover {
        i {
          margin-right: 8px;
          margin-left: 12px;
        }
      }
    }
  }
}
