@import (reference) "variables";
@import (reference) "mixins";

.review-item {
  padding: 5px 0;
  
  .review-item-label {
    font-weight: bold;
  }
  
  .review-item-value {
    padding: 5px 0;
    width: 100%;

    &:empty:before {
      content: 'n/a';
    }
  }
}