@import (reference) "variables";
@import (reference) "mixins";

.row-heading, .row-item, .row {
  width: 100%;
  background-color: lighten(#eee,4);
  display: flex;

  .label, .attribute {
    padding: 1.5rem 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  .label {
    flex: 1;
  }
  .attribute {
    flex: 1;
  }

  .x-small {
    text-align: center;
    max-width: 75px;
  }

  .small {
    text-align: center;
    max-width: 100px;
  }

  .medium {
    max-width: 150px;
  }

  .action {
    cursor: pointer;
    
    &:hover {
      background-color: darken(#eee, 5);
    }
  }
  input {
    background-color: white;
    margin: 5px auto;
  }
}

.row-heading {
  background-color: @button-color;
  font-weight: bolder;

  .label, .attribute {
    color: @background-color;
  }
}

.row-item {
  &:nth-of-type(odd){
    background-color: lighten(#eee,6);
  }
  &:hover {
    // background-color: darken(#eee, 2);
  }
}

a.row-item {
  transition: all 0.3s;

  &:hover {
    background-color: darken(#eee, 2);
  }
}