@import (reference) "variables";
@import (reference) "mixins";

.session-wrapper { 
  margin-top: 25px;
}

.session {
  .container(40rem);
  background-color: #fff;

  img {
    max-width: 100%;
    width: 100%;
  }
}

.session-logo {
  margin: 0 auto;
}

.session-header {
  h1 {
    .font-size(2.5);
    margin: 0px 0px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EFF2F3;
  }
}

.session-inner {
  padding: 15px;
  
  button {
    margin: 2rem 0px;
    width: 100%;    
  }

  .icon {
    vertical-align: middle;
  }
}