@import (reference) "variables";
@import (reference) "mixins";

a {
  text-decoration: none;
  color: @button-color;
  cursor: pointer;

  .icon {
    vertical-align: middle;
  }
  
  &:hover {
    color: darken(@button-color, 5);
  }
  
  &.btn {
    display: inline-block;
    padding: 10px;
    background-color: @button-color;
    color: #fff;
    
    margin: 0 5px;
    
    .fa {
      margin: 0 5px;
    }
    
    &:hover {
      color: #fff;
      background-color: darken(@button-color, 10);
    }
  }  
}

button {
  .icon {
    vertical-align: middle;
  }
  &.btn--small {
    padding: 5px;
  }
}

.btn {
  border: none;
  margin: 0;
  
  & ~ .btn {
    margin-left: 5px;
  }

  &.btn--default {
    background-color: @background-color;
    color: @font-color;
  }
  
  &.btn--clear {
    background-color: transparent;
    color: @button-color;
  }

  &.btn--error {
    background-color: @error-color;
    color: white;

    &:hover {
      background-color: darken(@error-color, 10);
    }
  }
  
  &.btn--small {
    padding: 5px;
  }
  
  &.btn--inline {
    margin: 15px 0;
    margin-left: 5px;
    max-width: 150px;
  }
  
  &.btn--centered {
    margin: 15px auto;
    max-width: 200px;
  }
  
  &:after {
    content: attr(title);
    display: block;
    background-color: rgba(0,0,0,0.7);
    
    min-width: 320px;
    
    position: absolute;
    top: 50%;
    right: 110%;
    
    padding: 5px;
    // border-radius: 5px;
    
    transform: translate(10%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }
  
  &:hover:after {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  
  &[title=""]:after, &:not([title]):after {
    content: none;
  }
}

h3 {
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #F0F0F0;
}

p {
  line-height: 2.4rem;
  margin: 10px 0;

  &.text-error {
    color: @error-color;
    text-align: center;
    i {
      display: block;
    }
  }
}