// The Gray family
@gray: #CCCCCC;
@gray--darker: #333333;
@gray--dark: #666666;
@gray--light: #F0F0F0;

// Main UI Colors
@background-color: @gray--light;
@font-color: @gray--darker;
@heading-color: #27383E;
@secondary-color: #333;

// Button Colors
@button-color: #3B5B6E;
@button-color--light: #A6BCC6;

// Input Colors
@input-color: @background-color;
@input-color--dark: @gray;

// Notification Colors
@success-color: #5ece7f;
@error-color: #96172E;
@warning-color: #EBB700;
