<img src="http://customertools-beta.bendergroup.com/images/logo.png" class="logo" />
<h1>Welcome <%= user.name %></h1>
<p>Your username is <%= user.username %></p>
<p>We are emailing to notify that you can now access our database for your  orders and shipment information, anytime of the day.</p>
<p>Bender authorizes you to use our order and shipment tracking systems solely to track order and/or shipments to or for you and for no other purpose. Any other use of our order and shipment tracking systems and information is strictly prohibited.</p>
<p>To begin, follow this link, <a href="http://customertools-beta.bendergroup.com/verify?user=<%= user.username %>&key=<%= user.login_key %>">http://customertools-beta.bendergroup.com/verify?user=<%= user.username %>&key=<%= user.login_key %></a></p>
<p>You will be prompted to set a password for your account and automatically signed in.</p>