extends ../layouts/application

block content
  .wrapper
    .base
      .base-inner
        .base-header
          h1 Inbound Order API
        p
          | Use this api to submit orders to Bender Warehouse Services. It accepts JSON Posted to apibeta.bendergoup.com/
        h3 Headers and Authentication
        p
          | Authentication is done with tokens, which you'll need to obtain from us prior to using our API service. The token is an alphanumeric string that is included in the HTTP header of every request you make to the api. The header key must be the word 'Authorization:' and the value must be the word 'Token' followed by a space followed by your unique token. An example header is below:
          
          pre
            | content-type: application/json
            | Authorization: Token f02a97e0476422df2a1c05b513f35b3487ad7989
        
        h3 Curl Example
        p
          | For this example to work you must have a data.json file in the same directory that you run the script.
        pre
          | curl -v \
          |   -H "content-type: application/json" \
          |   -H "Authorization: Token f02a97e0476422df2a1c05b513f35b3487ad7989" \
          |   --http1.0 \
          |   -X POST \
          |   --data "@data.json" \
          |   http://benderapi.trinityannex.com/api/orders/=        
        h3 Responses
        p
          | On a successful request you will get the following response back:
          pre
            | {
            |   "statusCode": 200,
            |   "message": "order successfully placed"
            | }
        p
          | There are 2 different error messages that you can get, an error saying your query is malformed, or an error that you included a field in your JSON that isn't allowed by the server. The first looks like this:
          pre
            | {
            |   "statusCode": 400,
            |   "error": "Bad Request",
            |   "message": "ValidationError: child \"customer_number\" fails because [\"customer_number\" length must be less than or equal to 30 characters long]"
            | }
          | the second one will look like the following:
          pre
            | {
            |   "statusCode": 400,
            |   "error": "Bad Request",
            |   "message": "ValidationError: \"test\" is not allowed"
            | }
    .wrapper
      .base
        .base-inner
          .base-header
            h1 JSON Format
          h3 Order Object
          p Your Order that you post may have the following fields.
          .json-listing
            .json-heading
              .json-heading__required Required
              .json-heading__field Field
              .json-heading__description Description
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field customer_number
              .json-item__description The customer number provided by Bender Group
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field order_number
              .json-item__description Your ID for the order
            .json-item
              .json-item__required
              .json-item__field po_number
              .json-item__description Purchase Order Number
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field requested_ship_date
              .json-item__description Enter a date in the format YYYY-MM-DD
            .json-item
              .json-item__required
              .json-item__field requested_arrival_date
              .json-item__description Enter a date in the format YYYY-MM-DD
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field carrier_code
              .json-item__description Shipping Provider you want to use. (e.g. UPS, FDX)
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field payment_method
              .json-item__description Must be one of the following: PP, CO, TP These stand for: PP - Prepaid, CO - Collect, TP - Third Party
            .json-item
              .json-item__required
              .json-item__field third_party_account_number
              .json-item__description The Third Part account number to pay, required if TP is set in "payment_method"
            .json-item
              .json-item__required
              .json-item__field notes
              .json-item__description Put any specific instructions here. Max is 500 characters.
            .json-item
              .json-item__required 
                i.fa.fa-check
              .json-item__field line_items
              .json-item__description An array of line_item objects, must follow the line_item object format below.
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field addresses
              .json-item__description An array of address objects, must follow the addresses object format below.
          h3 Line Item Object
          p Your Line Item that you post may have the following fields.
          .json-listing
            .json-heading
              .json-heading__required Required
              .json-heading__field Field
              .json-heading__description Description
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field bender_item_id
              .json-item__description The item id used by us to track the item
            .json-item
              .json-item__required
              .json-item__field customer_item_id
              .json-item__description Your id or sku for the item. Include if you want to be more verbose.
            .json-item
              .json-item__required
              .json-item__field description
              .json-item__description Text description of the item or specific instruction.
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field quantity
              .json-item__description How many of the item you want to ship. Must be an integer.
          h3 Address Object
          p Your Address that you post may have the following fields.
          .json-listing
            .json-heading
              .json-heading__required Required
              .json-heading__field Field
              .json-heading__description Description
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field address_type
              .json-item__description Can be any one of the following: ST, BT, FT. They stand for: ST - Ship To, BT - Bill o, FT - Freight To. We need at the very least a shipping address.
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field name
              .json-item__description Who you are shipping the order to.
            .json-item
              .json-item__required
              .json-item__field company_name
              .json-item__description Company you are shipping the order to.
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field line_one
              .json-item__description Address Line One
            .json-item
              .json-item__required
              .json-item__field line_two
              .json-item__description Address Line Two
            .json-item
              .json-item__required
              .json-item__field line_three
              .json-item__description Address Line Three
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field city
              .json-item__description
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field state
              .json-item__description
            .json-item
              .json-item__required
                i.fa.fa-check
              .json-item__field zip_code
              .json-item__description
            .json-item
              .json-item__required
              .json-item__field email
              .json-item__descripttion
            .json-item
              .json-item__required
              .json-item__field phone
              .json-item__description
            .json-item
              .json-item__required
              .json-item__field fax
              .json-item__description
  .wrapper
    .base
      .base-inner
        .base-header
          h1 Example JSON Data                    
        pre
          | {   
          |   "customer_number": "1018",
          |   "order_number": "4701333",
          |   "po_number": "ON-22322", 
          |   "requested_ship_date": "2012-12-13", 
          |   "requested_arrival_date": "2012-12-14", 
          |   "carrier_code": "UPSG", 
          |   "payment_method": "PP", 
          |   "test": "ok",
          |   "third_party_account_number": "2394938", 
          |   "notes": "please gift wrap items", 
          |   "line_items": [
          |       {
          |           "bender_item_id": "KIT211", 
          |           "customer_item_id": "custitem1", 
          |           "description": "A customer item 1", 
          |           "quantity": 1
          |       }
          |   ], 
          |   "addresses": [
          |       {
          |           "address_type": "ST", 
          |           "name": "Bob Robertson", 
          |           "line_one": "123 Cherry St.", 
          |           "line_two": " ", 
          |           "line_three": " ", 
          |           "city": "Reno", 
          |           "state": "NV", 
          |           "zip_code": "89509", 
          |           "country": "USA", 
          |           "email": "asdf@asdf.com", 
          |           "phone": "555-555-5555", 
          |           "fax": "555-555-5555"
          |       }, 
          |       {
          |           "address_type": "BT", 
          |           "name": "Bob Robertson", 
          |           "line_one": "584 Lakeshore Dr", 
          |           "line_two": " ", 
          |           "line_three": " ", 
          |           "city": "Chicago", 
          |           "state": "IL", 
          |           "zip_code": "29383", 
          |           "country": "USA", 
          |           "email": "asdf@asdf.com", 
          |           "phone": "555-555-5555", 
          |           "fax": "555-555-5555"
          |       }
          |   ]
          | }